.card{
    margin:40px;
    --bs-card-border-width:0;
}

.row{
    border:none;
}

.card-div:hover{
    border: 1px solid #007aff;
}

.Sector{
    color: #f27e42;
    background: rgba(242,126,66,.26);
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    margin-bottom: 40px;
    display: inline-block;
}
.col ul{
    padding:0;
}
.col{
    margin:10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.col h5 a{
    font-weight: 600;
    text-decoration: none;
    color: #071112;
    text-transform: capitalize;
    margin-bottom: 17px;
    display: block;
    transition: all .2s ease-out 0s;
}

.col h5 a:hover{
    color: #007aff;
}

ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    list-style: none;
}

.card-div{
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
    border: 1px solid transparent;
    padding: 30px 20px 25px 20px;
    transition: all .3s ease-out 0s;
    border-radius: 5px;
}

.card-div{
    margin-bottom:20px;
}
.col ul{
    margin:0;
}

.col ul li{
    display: inline-block;
}

.col ul li p{
    color: #76787a;
    line-height: 1.6;
    margin: 0;
    font-weight: 400;
    margin-bottom: 23px;
}

.col ul li:first-child{
    margin-right: 20px;
}

.card-last{
    display:flex;
    align-items:center;
    justify-content: space-between
}

.company-info{
    display:flex;
    align-items:center;
}
.company-info p{
    margin-left: 6px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 0;
    color: #18304b;
    font-family: "Chivo",sans-serif;
}

.Button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
.Apply-button::before{
    background: #0c66c7;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5,1.6,.4,.7);
    transform: scaleX(0);
}

.zoom{
    transition: transform .3s;
}

.zoom:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03); 
  }