.Logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-wraper {
    width: 290px;
    height: 360px;
    margin: 80px auto;
     background: #fff;
    padding: 10px;
    padding-top: 20px;
    /* background: url(images/header_bg.gif) no-repeat right top #ffff; */
    background-size: 100%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 55%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55); 
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55); 
}

body{
     /* background: url(../images/do.png) no-repeat bottom #6BA4DB;  */
    background-attachment: fixed;
    background-size: cover;
    font-family: arial;
}


.logo {
    padding: 8px;
    align-items: center;
}

.welcome {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    padding: 5px;
    margin: 0 10px;
    text-align: center;
}

.login-form{
        display: block;
        margin-top: 0em;
        margin-block-end: 1em;
}

.btn-login {
    width: 200px;
    text-align: center;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    color: #007fc5;
    background: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    margin: 10px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 55%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
}

btn-login:hover {
    background-color: #338FFF;
    color: #fff;
}