
body{
    /*background-image: url("IITTP1.jpeg"); */
    width:100%;
    background-color: rgb(62, 20, 159);
}


.navmenu{
    margin-left:auto;
}

.logo{
    margin:0;
    padding: 0;
}

.Navbar{
    /*background-color: rgb(151, 230, 250);*/
    width:100%;
    font-style: overpass;
    box-shadow: 0 2px 25px 0 rgb(54 66 117 / 12%);
}

.me-2{
    width:50%!important;
    height:70%!important;
    margin-top:11px;
}

.search-btn{
    width: 60px !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%)!important;
}
